.Setting-Top-Container {
  border: 1px solid red;
  height: 44.8125rem;
  border-radius: 1.5625rem;
  background-color: white;
  padding: 2.3125rem;
}

.Setting-Top-Container-Heading {
  /* border: 1px solid blue; */
  margin-bottom: 3.25rem;
}

.Setting-Options {
  /* border: 1px solid black; */
  width: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
}

.Setting-List-Profile-Option {
  display: flex;
  list-style: none;
  /* border: 1px solid red; */
  width: fit-content;
  margin-bottom: 0.5rem;
  gap: 4.75rem;
}

.Setting-Option-List {
  /* border: 1px solid magenta; */
  display: flex;
  justify-content: center;
  width: 7.125rem;
  cursor: pointer;
}

.SettingBlue-NavLine {
  width: 7.125rem;
  height: 3px;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  position: absolute;
  bottom: 0;
  transition: all 150ms ease-in-out;
  /* left: 11.875rem; */
}

/* .......css for middle container........... */

.Setting-Middle-Container-Heading {
  /* border: 1px solid green; */
  display: flex;
}

.Setting-Profile-Image {
  /* border: 1px solid red; */
  width: 8.25rem;
  height: 8.125rem;
  margin-right: 3.3125rem;
  position: relative;
}
.Edit-Profile-Pic {
  width: 1.875rem;
  height: 1.875rem;
  background-color: #1814f3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 7px;
  right: 0;
  cursor: pointer;
}

/* .User-details-Main-container {
  width: 100%;
} */

.Setting-Form-Container {
  /* border: 1px solid red; */
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.8125rem;
  row-gap: 1.375rem;
  grid-auto-rows: 80px;
}

.Container1 {
  /* background-color: lightcyan; */
  /* height: 80px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.YourName {
  color: black;
}

.WriteYourName {
  /* border: 1px solid blue; */
  position: relative;
}

.icon-wrapper {
  position: absolute;
  right: 20px;
  top: 14px;
}

.InputName {
  border: 1px solid #dfeaf2;
  width: 100%;
  height: 3.125rem;
  border-radius: 0.9375rem;
  /* border-color: #dfeaf2; */
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.InputName::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  color: #718ebf;
}

.InputName:focus {
  outline: none;
}

/* .InputName::-webkit-calendar-picker-indicator {
  display: none;
} */

.Btn-Container {
  /* border: 1px solid red; */
  width: 100%;
  margin-top: 1.875rem;
  display: flex;
  justify-content: end;
}

.SaveBtn {
  width: 11.875rem;
  height: 50px;
  border-radius: 0.9375rem;
  background-color: #1814f3;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
}
.SaveBtn:hover {
  color: white;
  cursor: pointer;
}
