.Setting-Top-Container {
  border: 1px solid red;
  height: 44.8125rem;
  border-radius: 1.5625rem;
  background-color: white;
  padding: 2.3125rem;
}

.Setting-Top-Container-Heading {
  border: 1px solid blue;
  margin-bottom: 3.25rem;
}

.Setting-Options {
  border: 1px solid black;
  width: fit-content;
  display: flex;
  flex-direction: column;
  position: relative;
}

.Setting-List-Profile-Option {
  display: flex;
  list-style: none;
  border: 1px solid red;
  width: fit-content;
  margin-bottom: 0.5rem;
  gap: 4.75rem;
}

.Setting-Option-List {
  border: 1px solid magenta;
  display: flex;
  justify-content: center;
  width: 7.125rem;
}
.SettingBlue-NavLine {
  width: 7.125rem;
  height: 3px;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  position: absolute;
  bottom: 0;
  transition: all 150ms ease-in-out;
  /* left: 11.875rem; */
}

/* .......css for middle container........... */

.Setting-Middle-Container-Heading {
  border: 1px solid green;
  display: flex;
}

.Setting-Profile-Image {
  border: 1px solid red;
  width: 8.25rem;
  height: 8.125rem;
  margin-right: 3.3125rem;
  position: relative;
}
.Edit-Profile-Pic {
  width: 1.875rem;
  height: 1.875rem;
  background-color: #1814f3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 7px;
  right: 0;
}

/* .User-details-Main-container {
  width: 100%;
} */

.Setting-Form-Container {
  border: 3px solid red;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

/* .Setting-Form-Container {
  border: 3px solid red;
  height: fit-content;
  display: flex;
  width: 100%;
  gap: 1.8125rem;
  /* justify-content: space-around; */

/* .User-Name-container {
  border: 2px solid blue;
  flex: 1;
}
 */

.User-name {
  border: 2px solid green;
  /* width: 26.125rem; */
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.InputSize {
  width: 100%;
  /* width: 26.125rem; */
  height: 3.125rem;
  border-radius: 0.9375rem;
  border-color: #dfeaf2;
  border-style: none;
  padding: 0px 1.25rem;
}

.InputSize::placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #718ebf;
}

.InputSize:focus {
  outline: none;
}
