.left-bar-container {
  /* border: 1px solid black; */
  width: 15.625rem;
  height: 100%;
  background-color: #fff;
}

.logo {
  /* border: 1px solid blue; */
  height: 6.313rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  gap: 0.625rem;
}

.logo-text {
  font-size: 1.563rem;
  font-weight: 900;
}

.left-nav-links-container {
  border: 1px solid red;
  position: relative;
}

.selected-view {
  position: absolute;
  top: 0;
  left: 0;
  height: 3.75rem;
  width: 0.375rem;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  transition: all 150ms ease-in-out;
}

.left-nav-links {
  border: 1px solid darkcyan;
  height: 3.75rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.left-nav-linkss {
  border: 1px solid rgb(246, 223, 20);
  height: 3.75rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.link-img {
  /* border: 1px solid darkkhaki; */
  margin-left: 2.6rem;
}

.link-tittle-container {
  /* border: 1px solid rgb(45, 45, 38); */
  margin-left: 1.2rem;
  font-weight: 500;
}

.link-title {
  font-size: 1.125rem;
  font-weight: 500;
}
