.Services-Page-Top-Container {
  border: 1px solid red;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.ServicesType-Container {
  border: 1px solid blue;
  background-color: white;
  border-radius: 1.5625rem;
  height: 120px;
  padding: 1.5625rem 3.25rem;
  align-items: center;
  display: flex;
}
.ServicesName-Body {
  border: 1px solid green;
}

/* .............Middle Container.......... */

.Services-Page-Middle-Container {
  border: 1px solid red;
}

.Services-Page-Container {
  /* border: 2px solid green; */
}

.bank-services-list-container {
  /* border: 3px solid blue; */
  display: flex;
  margin-bottom: 1.25rem;
  border-radius: 20px;
  background-color: white;
}
.Bank-Services-Table {
  /* border: 2px solid magenta; */
  width: 100%;
}

.Bank-Services-Table-Heading {
  /* border: 3px solid green; */
}

.Bank-Services-Name-container {
  /* border: 2px solid yellow; */
  display: flex;
  align-items: center;
}

.BankServicesType-Body {
  /* border: 1px solid red; */
}

.Services-Btn {
  border: 1px solid #718ebf;
  width: 9.375rem;
  height: 2.1875rem;
  border-radius: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Services-Btn:hover {
  border: 1px solid #1814f3;
  color: #1814f3;
}
