* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f3f8;
  /* overflow-x: hidden; */
}

.lato {
  font-family: "Lato", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.primary-color {
  color: #343c6a;
}

.secondary-color {
  color: #718ebf;
}

.primary-background {
  background: #2d60ff;
}

.whiteColor {
  color: white;
}

.LightBlackColor {
  color: #343c6a;
}

.secondary-background {
  background-color: white;
}

.tertiary-background {
  box-shadow: inset 1em 1em 2em 1em #5278f4;
}

.quaternary-background {
  /* box-shadow: 0px 0px 2px 1px rgb(129, 126, 126); */
  box-shadow: inset 0px 5px 2px -5px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.RedColor {
  color: #ff4b4a;
}

.GreenColor {
  color: #41d4a8;
}

.greyColor {
  color: #b1b1b1;
}

.font-weight-600-22px {
  font-family: "Inter", sans-serif;
  color: #343c6a;
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.664rem;
}

.font-weight-600-17px {
  font-family: "Inter", sans-serif;
  color: #343c6a;
  font-weight: 600;
  font-size: 1.063rem;
  line-height: 1.286rem;
}

.head-section-transaction-500-16px {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.21rem;
  display: flex;
}

.font-weight-400-15px {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 0.9469rem;
}

.font-weight-400-16px {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #718ebf;
  line-height: 1.21rem;
}

.font-weight-600-20px {
  line-height: 1.5125rem;
  font-size: 1.25rem;
  font-weight: 37.5rem;
  font-family: "Inter", sans-serif;
}

.Margin_Bottom_UnderHeadSec {
  margin-bottom: 1.25rem;
}

.gap30px {
  gap: 1.875rem;
}

.LineHeight {
  line-height: 1.5625rem;
}
